doctype 5
html(lang="es")
	head
		meta(charset="utf-8")
		title NodeJS + Sockets
		link(rel="stylesheet", href="css/estilos.css")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="/socket.io/socket.io.js")			
		script(src="js/main.js")
		script(src="js/prefixfree.min.js")
	body
		h1 NodeJS + Sockets
		form(id="frmChat")
			input#mensaje(type="text", id="mensaje", name="mensaje", autofocus)
			input(type="submit", value="enviar", id="btnEnviar")
		#mensajes