colorCeleste = #d5e4f3

input[type=text], textarea, select
	outline: 0px !important

body
	background-color darken(colorCeleste, 20%)

#mensajes
	background-color colorCeleste
	border 1px solid darken(colorCeleste, 50%)
	height 200px
	margin-top 20px
	padding 10px
	width 400px

#mensaje
	border-radius 5px
	padding 5px 10px