input[type=text],
textarea,
select {
  outline: 0px !important;
}
body {
  background-color: #8eb6df;
}
#mensajes {
  background-color: #d5e4f3;
  border: 1px solid #3372b1;
  height: 200px;
  margin-top: 20px;
  padding: 10px;
  width: 400px;
}
#mensaje {
  border-radius: 5px;
  padding: 5px 10px;
}
